
    <td><input type="checkbox" name="" id=""></td>
    <td>{$vo[id]}</td>
    <?php
        $arr=explode(',',$vo['path']);
        array_pop($arr);
        $size=count($arr);

    ?>
    <td>{:str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;', $size-1)}
    <if condition="$size neq 1">⊢</if>
    {$vo[cname]}</td>
    <if condition="$size eq 3">
        <td class="glyphicon glyphicon-plus" style="text-align: center; width: 100px; "></td>
    <else />
        <td style="text-align: center; width: 100px; "><a href="javascript:" data-path="{$vo[path]}{$vo[id]}," data-id="{$vo[id]}" data-cname="添加&nbsp;&nbsp;《{$vo[cname]}》&nbsp;&nbsp;子类" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#add_types"></a></td>
    </if>
    <td>{$vo[info]}</td>
    <td>{$vo[pid]}</td>
    <td>{$vo[path]}</td>
    <td><span onclick="edit({$vo[id]})" class="glyphicon glyphicon-pencil" data-target="#edit" data-toggle="modal"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span onclick="del(this,{$vo['id']})" class="glyphicon glyphicon-trash"></span>

    </td>
