<include file="Common:head" />
<body>
    <include file="Common:nav" />
    <link rel="stylesheet" href="__CSS__/base.css"/>
    <div class="wrap">
        <div class="pop-title clearfix">
            <a class="a_underline" href="{:U('Reg/index')}">注册</a>   
            <div class="pop_name">
                登录<span class="grey">与网友进行讨论及互动；收藏您喜欢的文章和内容；积累积分下载原创模板、精品源码、(兑换礼品正在开发中...)；分享原创代码赢取火币。</span>
            </div>

        </div>
        <div class="reg_area clearfix">
            <div class="oauth">
                <div class="oauth-title" style="text-indent:40px">亲，您可以使用<span class="oauth-title-highlight">以下帐号</span>直接登录素材火</div>
                <div class="oauth-links">
                    <a class="oauth-link" href="http://www.sucaihuo.com/Index/login/type/qq" rel="nofollow">
                        <div class="oauth-icon-qq"></div>
                        <div class="oauth-link-text">QQ</div>
                    </a>
                    <a class="oauth-link" href="javascript:;" onclick="showWeinxiLoginBox($(this))" rel="nofollow">
                        <div class="oauth-icon-wechat"></div>
                        <div class="oauth-link-text">微信</div>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="reg_form">
                <form onsubmit="return false">
                    <div class="pop-content accountPage">
                        <div class="form_item">
                            <div class="item_tip item_tip_focus">用户名/邮箱</div>
                            <input type="text" tabindex="1" value="" name="username" class="form_input form_input-focus" id="username" onblur="blurInputLoginBox($(this))" onfocus="focusInputLoginBox($(this))" autocomplete="off">
                            <span class="error">不能为空</span>
                            <i class="icon-loginright"></i>
                            <span class="grey">允许用中英文、数字、下划线</span>
                        </div>  
                        <div class="form_item">
                            <div class="item_tip item_tip_focus">密码</div>
                            <input type="password" tabindex="3" name="pwd" class="form_input form_input-focus" id="pwd" onblur="blurInputLoginBox($(this))" onfocus="focusInputLoginBox($(this))" autocomplete="off">
                            <span class="error">不能为空</span>
                            <span class="grey">6 - 20位</span>
                            <i class="icon-loginright"></i>
                        </div>
                        <div class="twoWeeks">
                            <input type="checkbox" class="ckeckBox" name="rememberme" id="rememberme">
                            <label for="rememberme">两周内免登录</label>
                            <a class="a_underline" href="{:U('forget')}">忘记密码？</a>
                        </div>
                        <p class="notice_error" id="notice_error"></p>
                        <input type="submit" tabindex="7" value="登&nbsp;&nbsp;录" class="btn_reg btn common_bgcolor" id="btn_reg" onclick="subLogin($(this))">

                    </div>
                </form>
            </div>
        </div>
    </div>
    <include file="Common:footer" />

    <div class="mmsg-box mmsg-box-info" id='msg-box' style="margin-top: -23.5px; margin-left: -96.5px;">
        <div class="mmsg-content">
            <i class="mmsg-icon"></i>
            <p id='msg-box-content'></p>
        </div>
        <div class="mmsg-background"></div>
    </div>
<div id="windown_box2"></div>
</body>
</html>
<script type="text/javascript">

    function subLogin(obj) {
        var username = $.trim($('#username').val());
        var pwd = $.trim($('#pwd').val());
        if (username == '') {
            showLoginError("请输入用户名或邮箱");
            return false;
        }
        if (pwd == '') {
            showLoginError("请输入密码");
            return false;
        }

        obj.addClass('disabled').val('登录中...');
        $.post(getUrl('Login/check'), {username: username, pwd: pwd}, function(data) {
            if (data.error != '') {
                showLoginError(data.error);
            } else {
                showSuccessTip(data.tip);
                // 返回上一个页面
                var url = "{$_SERVER['HTTP_REFERER']}";
                setTimeout("goUrl('" + url + "')", 1000);
            }
            obj.removeClass('disabled').val('登录');
        }, "json")

    }
    function showLoginError(tip) {
        $("#notice_error").html(tip);
        $("#notice_error").fadeOut(2500);
    }


</script>
