<include file="Common:head" />
<body>
<include file="Common:nav" />
    <link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
    <div  class="container w clearfix">
        <div class="member_right">
            <include file="Member:left" />
        </div>
<div class="member_main">
    <div class="perInfo">
        <div class="titleInfoBorder">
            <span>我的收藏</span>
        </div>
    </div>
    <div class="infoNoData">
        你还没有收藏过呢，快去
        <a target="_blank" href="http://www.sucaihuo.com">收藏</a>
        吧。
            </div>        <!--<div class="myspace-list">
    <a class="myspace-plan " href="http://www.sucaihuo.com/member/info.html">
        <span>主页</span>
    </a>
     <a class="myspace-note " href="http://www.sucaihuo.com/member/set.html">
        <span>设置</span>
    </a>
    <a class="myspace-course " href="http://www.sucaihuo.com/member/comments.html">
        <span>评论</span>
    </a>

    <a class="myspace-ques " href="">
        <span>问答</span>
    </a>

    <a class="myspace-code " href="">
        <span>代码</span>
    </a>
</div>-->
</div>
</div>

<include file="Common:footer" />
<include file="Member:mfooter" />