<include file="Common:head" />
<body>
<include file="Common:nav" />
    <link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
    <div  class="container w clearfix">        
    <include file="Member:left" />        
    <div class="member_main">
        <div class="perInfo">
            <div class="titleInfoBorder">
                <span>下载记录</span>
            </div>
<!--             <div class="firstTabBox lineSpace">
                <a class="tab currentTab" href="http://www.sucaihuo.com/member/downloads.html">我的下载</a>
                <span class="line">|</span>
                <a class="tab " href="http://www.sucaihuo.com/member/downloaded.html">被下载</a>
            </div> -->
        </div>
        <table class="table_member">
            <tbody>
                <tr>
                <th align="center">标题</th>
                <th align="center" width="80px">类型</th>
                <th align="center" width="250px">标签</th>
                <th align="center" width="110px">操作时间</th>
            </tr>
            </tbody>
            <tbody>
                <volist name="list" id="v">
                    <php>
                        //去除空数组'',0,再使用sort()重建索引
                        $tagarr = array_filter(explode(',',$v['tag']));
                        //dump($v);
                        //dump($tagarr);
                    </php>
                    <tr>
                        <td><a href="{:U('Soft/detail',array('pid'=>$v['pid'],'id'=>$v['tid']),'')}" target="_blank">{$v.title}</a></td>
                        <td>{$v.catename}</td>
                        <td> 
                            <p class="tags">
                                <volist name="tagarr" id="tag">
                                    <a target="_blank" class="list-tag" href="{:U('Soft/index',array('pid'=>$v['pid'],'tag'=>$tag),'')}">{$tag}</a>
                                </volist>
                            </p>
                        </td>
                        <td>{$v.addtime|date="m-d H:i",###}</td>
                    </tr> 
                </volist>               
            </tbody>
        </table>
    <empty name="list">
        <div class="infoNoData">你还没有下载呢，快去<a target="_blank" href="{:U('Index/index')}">下载</a>吧。</div>
    </empty>
    <div class="pager">{$page}</div>
</div>
</div>

<include file="Common:footer" />
<include file="Member:mfooter" />