<include file="Common:head" />
<body>
<include file="Common:nav" />
    <link href="__CSS__/member.css" rel="stylesheet" type="text/css"/>
    <div class="container w clearfix">
    <include file="Member:left" />
<div class="member_main" id='member_index'>
    <div class="balance clearfix">
        <div class="balance-info">
            <div class="balance-title">
                7天收入<span>（火币）</span>
            </div>
            <div class="balance-content">
                <span class="money">0.0</span>
                <span class="unit">火币</span>
            </div>
        </div>
        <div class="balance-info">
            <div class="balance-title">
                7天收入<span>（积分）</span>
            </div>
            <div class="balance-content">
                <span class="money">0.0</span>
                <span class="unit">积分</span>
            </div>
        </div>
        <div class="balance-info">
            <div class="balance-title">我的火币</div>
            <div class="balance-content clearfix">
                <span class="money">0.0</span>
                <span class="unit">火币</span>
                <!--                        <a class="withdraw_btn balance_right disabled" href="javascript:;" onclick='widthdraw_btn($(this))'>提现</a>-->
            </div>
        </div>
        <div class="balance-info" style="border-right: none">
            <div class="balance-title">可兑换积分</div>
            <div class="balance-content">
                <span class="money">0.0</span>
                <span class="unit">积分</span>
                <a class="exchange_btn balance_right" href="javascript:;" onclick='exchange_btn($(this))'>兑换礼品</a>
            </div>
        </div>
    </div>
    <a href="http://www.sucaihuo.com/Uploads/index" class="upload_big_btn">
        <i></i>
        上传资源
    </a>
    <div class="sign_info">
        今天未签到，立即去<a href="http://www.sucaihuo.com/Member/sign">签到</a>
        。            本月已签到 <strong class="red">0</strong>
        次，还差 <strong class="red">20</strong>
        次即可获取200积分。

    </div>
    <div class="perInfo">
        <div class="titleInfoBorder">
            <span>被下载</span>
            <a class="want" href="http://www.sucaihuo.com/member/downloaded.html">更多</a>
        </div>
        <div class="infoNoData">
            发布好的资源可赚取丰厚的佣金，快去
            <a target="_blank" href="http://www.sucaihuo.com/Uploads/index">发布</a>
            吧。

        </div>
    </div>
                <!--<div class="myspace-list">
    <a class="myspace-plan planactive" href="http://www.sucaihuo.com/member/info.html">
        <span>主页</span>
    </a>
     <a class="myspace-note " href="http://www.sucaihuo.com/member/set.html">
        <span>设置</span>
    </a>
    <a class="myspace-course " href="http://www.sucaihuo.com/member/comments.html">
        <span>评论</span>
    </a>

    <a class="myspace-ques " href="">
        <span>问答</span>
    </a>

    <a class="myspace-code " href="">
        <span>代码</span>
    </a>
</div>-->
</div>
</div>
<include file="Common:footer" />
<include file="Member:mfooter" />
