<include file="Common:head" />
<body>
<include file="Common:nav" />
    <link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
    <div  class="container w clearfix">
        <div class="member_right">
            <include file="Member:left" />
        </div>
<div class="member_main">
    <div class="perInfo">
        <div class="titleInfoBorder">
            <span>我的设置</span>
        </div>
        <div class="firstTabBox lineSpace">
            <a class="tab currentTab" href="{:U('Member/set')}">个人资料</a>
            <span class="line">|</span>
            <a class="tab " href="{:U('Member/pwd')}">修改密码</a>
        </div>
    </div>
    <div class="setting-right-wrap wrap-boxes settings">
        <div id="setting-profile" class="setting-wrap setting-profile">
            <div class="wlfg-wrap">
                <label class="label-name" for="nick">昵称</label>
                <input id="nickname" class="rlf-input rlf-input-nick" type="text" placeholder="请输入昵称." value="{$detail.nickname}" data-validate="nick" autocomplete="off" name="nickname">
            </div>
            <div class="wlfg-wrap">
                <label class="label-name" for="qq_num">qq号</label>
                <input id="qq_num" class="rlf-input rlf-input-qq_num" type="text" placeholder="请输入qq号." value="{$detail.qq}" data-validate="qq_num" autocomplete="off" name="qq_num">
            </div>
            <div class="wlfg-wrap">
                <label class="label-name" for="job">职位</label>
                <select id="job" class="rlf-select" hidefocus="true" name="job" autocomplete="off">
                    <option value="">请选择职位</option>
                    <option value="页面重构设计" <if condition="$detail['job'] eq '页面重构设计'">selected="selected"</if> >页面重构设计</option>
                    <option value="交互设计师" <if condition="$detail['job'] eq '交互设计师'">selected="selected"</if> >交互设计师</option>
                    <option value="产品经理" <if condition="$detail['job'] eq '产品经理'">selected="selected"</if> >产品经理</option>
                    <option value="UI设计师" <if condition="$detail['job'] eq 'UI设计师'">selected="selected"</if> >UI设计师</option>
                    <option value="JS工程师" <if condition="$detail['job'] eq 'JS工程师'">selected="selected"</if> >JS工程师</option>
                    <option value="Web前端工程师" <if condition="$detail['job'] eq 'Web前端工程师'">selected="selected"</if> >Web前端工程师</option>
                    <option value="移动开发工程师" <if condition="$detail['job'] eq '移动开发工程师'">selected="selected"</if> >移动开发工程师</option>
                    <option value="PHP开发工程师" <if condition="$detail['job'] eq 'PHP开发工程师'">selected="selected"</if> >PHP开发工程师</option>
                    <option value="软件测试工程师" <if condition="$detail['job'] eq '软件测试工程师'">selected="selected"</if> >软件测试工程师</option>
                    <option value="Linux系统工程师" <if condition="$detail['job'] eq 'Linux系统工程师'">selected="selected"</if> >Linux系统工程师</option>
                    <option value="JAVA开发工程师" <if condition="$detail['job'] eq 'JAVA开发工程师'">selected="selected"</if> >JAVA开发工程师</option>
                    <option value="技术总监" <if condition="$detail['job'] eq '技术总监'">selected="selected"</if> >技术总监</option>
                    <option value="CEO" <if condition="$detail['job'] eq 'CEO'">selected="selected"</if> >CEO</option>
                    <option value="学生" <if condition="$detail['job'] eq '学生'">selected="selected"</if> >学生</option>
                    <option value="其它" <if condition="$detail['job'] eq '其它'">selected="selected"</if> >其它</option>                    
                </select>
            </div>

            <php>
                //去除空数组'',0,再使用sort()重建索引
                $cityarr = array_filter(explode(',',$detail['address']));
                //dump($cityarr);
            </php>
            <div class="wlfg-wrap">
                <label class="label-name" id="citydata" for="province-select" data-prov="{$cityarr['0']}" data-city="{$cityarr['1']}" data-dist="{$cityarr['2']}" >城市</label>
                <span id="city_area">
                    <select class="prov"></select>
                    <select class="city" disabled="disabled"></select>
                    <select class="dist" disabled="disabled"></select>
                </span>
            </div>
            <div class="wlfg-wrap">
                <label class="label">性别</label>
                <label>
                    <input type="radio" name="sex" value="0" hidefocus="true" autocomplete="off" <if condition="!$detail.sex">checked="checked"</if>/>
                    保密
                </label>
                <label>
                    <input type="radio" name="sex" value="1" hidefocus="true" autocomplete="off" <if condition="$detail.sex  eq 1">checked="checked"</if>/>
                    男
                </label>
                <label>
                    <input type="radio" name="sex" value="2" hidefocus="true" autocomplete="off" <if condition="$detail.sex  eq 2">checked="checked"</if>/>
                    女
                </label>

            </div>
            <div class="wlfg-wrap">
                <label class="label-name label_signature" for="aboutme">个性签名</label>
                <textarea class="textarea textarea_signature" rows="5" cols="30" id="signature">{$detail.signature|default='这位童鞋很懒，什么也没有留下～～！'}</textarea>

            </div>
            <div class="wlfg-wrap">
                <label class="label-name"></label>
                <button class="btn" type="button" id='btn_submit'>保存</button>
            </div>
        </div>
    </div>

</div>
</div>

<include file="Common:footer" />
<include file="Member:mfooter" />


<script type="text/javascript" src="__JS__/other/jquery.cityselect.js"></script>
<script type="text/javascript">
    $(function() {
        var prov = $("#citydata").attr("data-prov");
        var city = $("#citydata").attr("data-city");
        var dist = $("#citydata").attr("data-dist");
        $("#city_area").citySelect({
            prov: prov,
            city: city,
            dist: dist,
            nodata: "none",
            url: "__JS__/other/city.min.js"
        });
        $("#btn_submit").click(function() {
            var nickname = $("#nickname").val();
            var qq_num = $("#qq_num").val();
            var job = $("#job").val();
            var sex = $("input[name=sex]:checked").val();
            var signature = $("#signature").val();
            var area = '';
            $("#city_area").children("select").each(function() {
                area += $(this).val() + ",";
            })
            if(nickname == ''){
                alert("请输入昵称");
                return false;
            }
            var qq_num = $("#qq_num").val();
            var qq_pattern = /^\d{5,13}$/;
            if (!qq_pattern.test(qq_num)) {
                alert("请输入你正确的QQ号");
                return false;
            }
            checkBefore('#btn_submit');
            $.post(getUrl("Ajax/updateInfo"), {nickname: nickname, job: job, area: area, sex: sex, signature: signature, qq_num: qq_num}, function(data) {
                $("#signed_textarea").val(signature);
                $(".job-title").html(job);
                $(".myname").html(nickname);
                checkAfter('#btn_submit');
                showSuccessTip('资料修改成功！');
            }, "json")
        })
    })

</script>