<include file="Common:head" />
<body>
<include file="Common:nav" />
<link href="__CSS__/member.css" rel="stylesheet" type="text/css"/>
<div class="container w clearfix">
    <include file="Member:left" />
    <div class="member_main" id='member_index'>
        <div class="perInfo">
            <div class="titleInfoBorder">
                <span>会员签到</span>
            </div>
        </div>
        <div class="tishi">
            <p class="tishi_text">
                <span class="tishi_span">签到奖励提示</span>
            </p>
            <p class="tishi_text">
                <span class="tishi_span">      1：</span>
                每天签到，获得 <b>{:C('SIGN_SCORE')}</b> 积分奖励
            </p>
            <p class="tishi_text">
                <span class="tishi_span">      2：</span>
                一个月内签到满 <b>20</b> 次，获得签到奖励 <b>200</b> 积分（立即到账，不是下个月发放，可查看积分记录）
            </p>
        </div>
        <table  class='table_sign'>
            <thead>
                <tr>
                    <th>周日</th>
                    <th>周一</th>
                    <th>周二</th>
                    <th>周三</th>
                    <th>周四</th>
                    <th>周五</th>
                    <th>周六</th>
                </tr>
            </thead>
            <tbody id="signrili">
                <notempty name='blankArr'>
                    <tr>
                        <foreach name="blankArr" item="row">
                            <td>-</td>
                            <if condition="$row%7  eq $first">
                            </tr>
                        </if>
                        </foreach>
                </notempty>
                <foreach name="days" item="row">
                    <if condition="$row['key2']  eq 0"><tr></if>
                    {$row['key']|getSign=###}
                    <if condition="$row['key2']  eq 7"></tr></if>
                </foreach>
                <foreach name="other" item="row">
                    <td>-</td>
                </foreach>
            </tbody>
        </table>

    </div>
</div>
<include file="Common:footer" />
<include file="Member:mfooter" />
<script type="text/javascript">
    // alert('__IMG__');
    function signDay(obj) {
        $.post(getUrl("Ajax/signDay"), {}, function(data) {
            if(data == -1){
                alert("请登录！");return false;
            }
            var num = obj.find("span").text();
            var td = "<td  style='background-color:navajowhite;navajowhite ;'>\n\
                      <div align='right' valign='top'><span style='position:relative;right:20px;'>" + num + "</span></div>\n\
                      <div align='left'><img width='35px' height='35px' src='" + '__IMG__' + "/cart_3.gif' alt='已签到' style='position:relative;left:10px;'>\n\
                        已签到</div></td>";
            obj.before(td);
            obj.remove();
            if (data > 0) {
                alert("签到成功获取 " + data + " 积分");
            } else {
                alert("今天您已签到！");
            }

        })
    }
</script>