<include file="Common:head" />
<body>
<include file="Common:nav" />
    <link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
    <div  class="container w clearfix">
        <div class="member_right">
            <include file="Member:left" />
        </div>
<div class="member_main">
    <div class="perInfo">
        <div class="titleInfoBorder">
            <span>我的模板</span>
        </div>
        <div class="tishi">
            <p class="tishi_text">
                当前扒模板机会 <strong class='red'>0</strong> 次，申请 <a href="http://www.sucaihuo.com/help/template" target="_blank">扒模板</a>
            </p>

        </div>
    </div>
    <div class="setting-right-wrap wrap-boxes settings" style="padding:0">

        <div class="wenda-list">
            <div class="wenda-listcon myquelist clearfix">
               <div class="infoNoData">
                你还没有发布过<a href='http://www.sucaihuo.com/topic' target='_blank'>话题</a>呢，快去
                <a target="_blank" href="http://www.sucaihuo.com/topic/add.html" target='_blank'>发布话题</a>
                吧。
            </div>                </div>

        </div>

    </div>
    <div class="pager"></div>
        <!--<div class="myspace-list">
    <a class="myspace-plan " href="http://www.sucaihuo.com/member/info.html">
        <span>主页</span>
    </a>
     <a class="myspace-note " href="http://www.sucaihuo.com/member/set.html">
        <span>设置</span>
    </a>
    <a class="myspace-course " href="http://www.sucaihuo.com/member/comments.html">
        <span>评论</span>
    </a>

    <a class="myspace-ques " href="">
        <span>问答</span>
    </a>

    <a class="myspace-code " href="">
        <span>代码</span>
    </a>
</div>-->
</div>
</div>

<include file="Common:footer" />
<include file="Member:mfooter" />


<script type="text/javascript" src="__JS__/other/jquery.cityselect.js"></script>
<script type="text/javascript">
    $(function() {
        $("#city_area").citySelect({
            prov: "",
            city: "",
            dist: "",
            nodata: "none",
            url: "__JS__/other/city.min.js"
        });
        $("#btn_submit").click(function() {
            var nickname = $("#nickname").val();
            var job = $("#job").val();
            var sex = $("input[name=sex]:checked").val();
            var signature = $("#signature").val();
            var area = '';
            $("#city_area").children("select").each(function() {
                area += $(this).val() + ",";
            })
            checkBefore('#btn_submit');
            $.post(getUrl("Ajax/updateInfo"), {nickname: nickname, job: job, area: area, sex: sex, signature: signature}, function(data) {
                $("#signed_textarea").val(signature);
                $(".job-title").html(job);
                $(".myname").html(nickname);
                checkAfter('#btn_submit');
                showSuccessTip('资料修改成功！');
            }, "json")
        })
    })

</script>