<tr id="tr{$data[id]}" data-index="100">
	<td class="bs-checkbox"><input data-index="100" type="checkbox" value="{$data[id]}" name="btSelectItem" id="check"></td>
	<td class="check_id">{$data[id]}</td>
	<td class="username">{$data[username]}</td>
	<td>{$data[password]}</td>
	<td>{:date('Y-m-d H:i:s', $data[time])}</td>
	<if condition="$data['logintime']">
		<td>{:date('Y-m-d H:i:s', $data[logintime])}</td>
		<else />
		<td>未登录过</td>
	</if>
	<td>{$data['loginnum']}</td>
	<if condition="$data[statu] eq 0">
		<td><span class="btn btn-info" onclick="statu(this,{$data[id]},0)">正常</span></td>
		<else/>
		<td><span class="btn btn-danger" onclick="statu(this,{$data[id]},1)">禁用</span></td>
	</if>
	<td>
		<span class="glyphicon glyphicon-pencil"onclick="edit({$data[id]})" data-toggle="modal" data-target="#edit"></span>&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="glyphicon glyphicon-trash" onclick="del(this,{$data[id]})"></span>
	</td>
</tr>