<include file="Common/head"/>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>系统配置</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <!-- Nav tabs -->           
                <ul class="nav nav-tabs" role="tablist">
                    <foreach name='configgroup' item='v'>
                        <li role="presentation" <if condition="$key eq 1">class="active"</if>>
                            <a href="#tabConent-{$key}" aria-controls="tabConent-{$key}" role="tab" data-toggle="tab">{$v}</a>
                        </li>
                    </foreach>
                </ul>

                <form method='post' class="form-horizontal" id="form_do" name="form_do" action="{:U('Sys/index')}">
                    <!-- Tab panes -->          
                    <div class="tab-content" style="margin-top:20px;">
                        <foreach name='vlist' item='v'>
                        <div role="tabpanel" <if condition="$key eq 1">class="tab-pane active"<else/>class="tab-pane"</if> id="tabConent-{$key}">
                            <foreach name='v' item='config'>    
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">{$config.title}</label>
                                <div class="col-sm-9">
                                    {:get_element_html("config[".$config['name']."]",$config['typeid'], $config['tvalue'], $config['value'])}                               
                                </div>
                            </div>
                            <if condition="$config['remark']">
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label"></label>
                                <div class="col-sm-9">
                                    {$config.remark}                            
                                </div>
                            </div>
                            </if>
                            </foreach>                          
                        </div>
                        </foreach>

                    </div>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-9">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <include file="Common/javascripts"/>

</body>
</html>

<script type="text/javascript">
$(function () {
    //缩略图上传

    var litpic_tip = $(".litpic_tip");
    var btn = $(".up-picture-btn span");
    $("#fileupload").wrap("<form id='myupload' action='{:U('Public/upload')}' method='post' enctype='multipart/form-data'></form>");
    $("#myupload").append('<input type="hidden" name="sfile" value="logo" />')
    $("#fileupload").change(function(){
        if($("#fileupload").val() == "") return;
        $("#myupload").ajaxSubmit({
            dataType:  'json',
            beforeSend: function() {
                $('#litpic_show').empty();
                btn.html("上传中...");
            },
            success: function(data) {
                if(data.state == 'SUCCESS'){
                    var fileSize = parseFloat(data.info[0].size/1024).toFixed(2);
                    litpic_tip.html(""+ data.info[0].name +" 上传成功("+ fileSize +"k)");
                    var img = data.info[0].url;//原图                    
                    $('#litpic_show').html("<img src='"+img+"' height='60'>");                    
                    $("#litpic").val(img);
                }else {
                    litpic_tip.html(data.state);        
                }           
                    btn.html("添加图片");

            },
            error:function(xhr){
                btn.html("上传失败");
                litpic_tip.html(xhr);
            }
        });
    });

});

$(function () {

    $('#BrowerPicture').click(function(){
        layer.open({
            type: 2,
            title: '系统提示',
            shadeClose: true,
            shade: 0.5,
            area: ['670px', '350px'],
            content: "{:U('Public/browseFile', array('stype' => 'ad'))}"
        });
    }); 

});


function selectFile(sfile) {
    layer.msg('选择文件成功')
    $("#litpic").val(sfile);
    //$('#litpic_show').html("<img src='"+sfile+"' width='120'>");
}



</script>
