<include file="Common/head"/>

</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{$type}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i> </a>
                    <a class="close-link"> <i class="fa fa-times"></i> </a>
                </div>
            </div>

            <div class="ibox-content">
                <form action="{:U('person')}" method="post" class="form-horizontal" id="form_do" name="form_do">
                    <div class="form-group">
                        <label for="inputRealname" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-9">
                            <input type="text" name="nickname" id="inputRealname" value="{$vo.nickname}" class="form-control" placeholder="姓名" />   
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="0" <if condition="$vo['sex'] eq 0">checked="checked"</if> />保密            
                             </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="1" <if condition="$vo['sex'] eq 1">checked="checked"</if> />男             
                             </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="2" <if condition="$vo['sex'] eq 2">checked="checked"</if> />女     
                             </label>   
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="birthday" class="col-sm-2 control-label">出生年月</label>
                        <div class="col-sm-4">
                            <input type="text" name="birthday" id="birthday" value="{$vo.birthday}" class="form-control" placeholder="出生年月" />  
                        </div>
                        <script type="text/javascript">
                            Calendar.setup({
                                weekNumbers: true,
                                inputField : "birthday",
                                trigger    : "birthday",
                                dateFormat: "%Y-%m-%d",
                                showTime: true,
                                minuteStep: 1,
                                onSelect   : function() {this.hide();}
                            });
                        </script>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress" class="col-sm-2 control-label">联系地址</label>
                        <div class="col-sm-9">
                            <input type="text" name="address" id="inputAddress" value="{$vo.address}" class="form-control" placeholder="联系地址" />    
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTel" class="col-sm-2 control-label">联系电话</label>
                        <div class="col-sm-9">
                            <input type="text" name="tel" id="inputTel" value="{$vo.tel}" class="form-control" placeholder="联系电话" />    
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputMobile" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-9">
                            <input type="text" name="mobile" id="inputMobile" value="{$vo.mobile}" class="form-control" placeholder="手机" /> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputQq" class="col-sm-2 control-label">QQ</label>
                        <div class="col-sm-9">
                            <input type="text" name="qq" id="inputQq" value="{$vo.qq}" class="form-control" placeholder="QQ" /> 
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputMaxim" class="col-sm-2 control-label">签名</label>
                        <div class="col-sm-9">
                            <textarea name="signature" id="inputMaxim" class="form-control">{$vo.signature}</textarea>
                        </div>
                    </div>                
                    
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" name="id" value="{$vo.userid}" />          
                            <input type="hidden" name="new" value="{$vo.new}" />
                            <button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-saved"></i>保存</button>
                            <button type="button" onclick="goUrl('{:U('index')}')" class="btn btn-default"> <i class="glyphicon glyphicon-chevron-left"></i>返回</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
    <!-- End Panel Other -->
</div>
<include file="Common/javascripts"/>
</body>
</html>
