
<div class="footer" id="footer" data-url="http://{$_SERVER['HTTP_HOST']}{$_SERVER['SCRIPT_NAME']}/" data-return="{$_SERVER['HTTP_REFERER']}" data-logout="{:U('Common/logout')}" data-id="{$data['id']}" data-mtype="{$pid}">
    <div class="footer_main clearfix">
        <div class="friendly">
<!--                     <div class="link_exchange">
                <strong>友情链接：</strong>
                <a target="_blank" href="http://www.helloweba.net/">Web技术分享</a>
                <a target="_blank" href="http://www.gx8899.com/">qq头像图片</a>
                <a target="_blank" href="http://www.jquerycn.cn/">php教程</a>
                <a target="_blank" href="http://itbyc.com/">个人博客</a>
                <a target="_blank" href="http://www.softwhy.com">前端教程</a>
            </div> -->
            <div class="foot_menu">
<!--                 <a href="{:U('Help/template')}" target="_blank">扒模板</a>
                <a href="{:U('Help/contact')}" target="_blank">联系我们</a>
                <a href="{:U('Help/index')}" target="_blank">关于我们</a>
                <a href="{:U('Help/job')}" target="_blank">招纳贤士</a>
                <a href="{:U('Help/site')}" target="_blank">酷站欣赏</a> -->
                <span class="address">Copyright &copy;2018 All Rights Reserved.</span>
                <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">苏ICP备15009298</a>
            </div>
            <div class="contact_us">
<!--                 <a class="qq-chat" href="http://wpa.qq.com/msgrd?v=3&uin=188316065&site=qq&menu=yes" target="_blank" rel="nofollow">
                    <img alt="QQ在线客服" src="__IMG__/qq-chat.png">
                </a> -->
                <span class="contact_item">邮箱：188316065@qq.com</span>
                <span class="contact_item">手机：18588500632</span>
            </div>
        </div>
    </div>
</div>
<div id="windown_box" class="modal fade window_box"></div>
<script src="__JS__/jquery.js" type="text/javascript"></script>
<script src="__JS__/common_version21.js" type="text/javascript"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?23b717eceba9f7f04aaadf7ae8177761";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
