<div id="site_nav" class="site_nav">
    <div  class="sn_container w clearfix">
        <ul class="tg_tools fr">
<!--             <li class="no-hover">
                <a href="{:U('member/pay')}" rel="nofollow" class="head_pay_btn common_color" >充值积分</a>
                <a href="{:U('member/pay#form_pay3')}" rel="nofollow" class="head_pay_btn common_color" >充值火币</a>
                <a href="{:U('member/pay#form_pay2')}" rel="nofollow" class="head_pay_btn common_color" style="color:#ff8400">充值会员</a>
            </li> -->
            <li class="no-hover" style="display: none">
                <a id="msg_notify" class="msg_notify" rel="nofollow" href="{:U('Member/message')}"></a>
            </li>
            <li class='box_color nav_home'>
                <span><a href="{:U('Member/set')}" rel="nofollow">个人中心</a></span><b class="icon"></b>
                <ul>
                    <!-- <li><a href="{:U('Member/info')}" rel="nofollow"><span>我的主页</span></a></li> -->
                    <li><a href="{:U('Member/set')}" rel="nofollow"><span>个人设置</span></a></li>
                    <li><a href="{:U('Member/logs')}" rel="nofollow"><span>积分明细</span></a></li>
                    <li><a href="{:U('Member/comments')}" rel="nofollow"><span>我的评论</span></a></li>
                    <li><a href="{:U('Member/downloads')}" rel="nofollow"><span>下载记录</span></a></li>
                    <!-- <li><a href="{:U('Member/collects')}" rel="nofollow"><span>我的收藏</span></a></li> -->
                    <li><a href="{:U('Member/sign')}" rel="nofollow"><span>我的签到</span></a></li>
                    <li><a href="{:U('Common/logout')}" rel="nofollow"><span>退出登录</span></a></li>
                </ul>
            </li>
            <li class="tg-line icon"></li>
            <li class='box_color' style="display: none;">
                <span>帮助中心</span><b class="icon"></b>
                <ul>
                    <li><a href="{:U('Help/points')}"><span>积分获取</span></a></li>
                    <li><a href="{:U('Help/contact')}"><span>联系我们</span></a></li>
                    <li><a href="{:U('Help/index')}"><span>关于我们</span></a></li>
                    <li><a href="{:U('Help/job')}"><span>招纳贤士</span></a></li>
                </ul>
            </li>
            <li class="tg-line icon" style="display: none;"></li>
<!--             <li class='box_color'>
                <span><a href="{:U('uploads/index')}" class="common_color">上传资源</a></span><b class="icon"></b>
                <ul>
                    <li><a href="{:U('Member/uploads')}"><span>我的上传</span></a></li>
                    <li><a href="{:U('Uploads/js')}"><span>上传特效</span></a></li>
                    <li><a href="{:U('Uploads/templates')}"><span>上传模板</span></a></li>
                    <li><a href="{:U('Uploads/php')}"><span>上传PHP</span></a></li>
                    <li><a href="http://www.sucaihuo.com/uploads/source"><span>上传源码</span></a></li>
                </ul>
            </li>  -->

            <!-- <li class="tg-line icon"></li> -->
            <li class="no-hover" style="display: none;">
                <a class="head_pay_btn common_color" href="{:U('Tools/index')}" style="color:#ff8400">工具箱</a>
            </li>
        </ul>
        <ul class="tg_tools fl" id="login_area" style="display: block;" >
            <li class="tg_tools_home no-hover">
                <i class="icon-more"></i>
                <span><a href="{:U('Index/index')}">ITJZ首页</a></span>
            </li>

<!--             <li class="no-hover nologin">
                <span><a href="http://www.sucaihuo.com/Index/login/type/qq" rel="nofollow"><img alt="Connect_logo_6.png" src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_6.png" style="position: relative;top:3px;"/></a></span>
            </li> -->
            <!-- <li class="no-hover nologin"><span><a href="http://www.sucaihuo.com/login.html" class="sn_login">登录</a></span></li>-->
            <li class="no-hover hide haslogin">
                <span><a href="{:U('Member/set')}"><font class="sn_login username common_color" id='head_username'></font></a></span>
                <i class="icon_vip"></i>
            </li>
            <li class="tg-line icon"></li>
            <li class="no-hover nologin">
                <span><a href="{:U('Reg/index')}" rel="nofollow">注册</a></span>
            </li>
            <li class="no-hover hide haslogin">
                <span><a href="{:U('Common/logout')}" rel="nofollow">退出</a></span>
            </li>
            <li class='box_color nav_home' id="nav_login">
                <span><a href="{:U('Login/index')}" class="sn_login common_color" rel="nofollow">登录</a></span><b class="icon"></b>
                <ul>
                    <li><a href="###" rel="nofollow"><span>QQ登录</span></a></li>
                    <li><a href="javascript:;" onclick="showWeinxiLoginBox($(this))" rel="nofollow"><span>微信登录</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="header">
    <div class="tg_tools_home w">
<!--         <div class="bbs_enter">
            <a class="bbs-banner"  href="{:U('Member/pay')}" rel="nofollow" target="_blank"><img src="__IMG__/other/banner.jpg" alt="扒模板"/></a>
        </div> -->
        <div class="logo">
            <a class="logo-bd" href="{:U('Index/index')}"><img src="{:C('CFG_WEBLOGO')}" alt="ZITJZ" style="height: 71px;" /></a>
        </div>
        <form action="{:U('Soft/index')}" method="GET" id="form_search" name="form_search" onsubmit="return searchSub()">
            <div id='search' class="search">

                <div class="search_area">
                    <input type='submit' value='搜 索'  class='btn_search common_bgcolor'/>
                    <div class="search_select">
                        <span class="icon-search"></span>
                    </div>
                    <input type='text' value='请输入搜索内容'  class="search_input"  autocomplete="off" id="search_input" data-default="请输入搜索内容" onblur="checkInputBlur($(this))"  onfocus="checkInputFocus($(this))" onkeyup="checkInputKeyup($(this))" />
                    <input type='hidden' name='pid' value='{$pid}' autocomplete="off"/>
                    <input type="hidden" name="keyword" />
                </div>

                <div class="search_box hide" id="search_box"></div>
                <div class='search_keywords' >
                    <span>热门搜索：</span>
                    <volist name="searchkey" id="vo">                        
                        <a href="{:U('Soft/index',array('keyword'=>$vo['keyword']),'')}" <if condition="$vo['recommend']"> class="red" </if> >{$vo.keyword}</a>
                    </volist>

                </div>
            </div>

        </form>
    </div>
</div>
<div id='nav' class='nav common_bgcolor'>
    <div class='nav_main clearfix w'>
        <a href="{:U('Index/index')}" <if condition="!$pid">class="menu current"</if>>首 页</a>
        <volist name="classs" id="vo">
            <a href="{:U('Soft/index',array('pid'=>$vo['id']),'')}"  style="display: block;width:88px" <if condition="$vo['id'] eq $pid">class="menu current"</if> >{$vo.cname}</a>
        </volist>

        <!--<a href="{:U('Soft/index?pid=100')}" <if condition="$_GET['pid'] eq 100">class="menu current"</if>>拼团{$_GET['pid']}</a>
        <a href="{:U('Soft/index?pid=200')}" <if condition="$_GET['pid'] eq 200">class="menu current"</if>>话题社区</a> -->
        <span class='icon_hot'></span>
    </div>
</div>